/* 全局使用 border-box */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 全部元素去除 margin / padding / border */
* {
  margin: 0;
  border: 0;
  padding: 0;
}

/* 让 HTML5 标签在老旧浏览器里也有正常表现（可选） */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* 去除列表样式 */
ol,
ul {
  list-style: none;
}

/* 去除引用默认样式 */
blockquote,
q {
  quotes: none;
}

/* 去除 a 标签下划线和颜色（不保留默认样式） */
a {
  color: inherit;
  text-decoration: none;
}

/* 图片默认行为优化 */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* 清除表格内间距 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
